<div class="pb-5">
<div class="laurastyleup" style="z-index: -1;"></div>
  <div class="d-flex flex-column align-content-center ps-5 pe-5 pt-5 pb-3" style="position: relative; z-index: 1;" >
  <%= link_to "Modifier ma recherche", new_search_path, class: "btn btn-secondary rounded-5 mb-4", style: 'color: #F5EADD; background-color: #1B3232; font-family:"Nunito", "Helvetica", "sans-serif"; font-weight: 500' %>
    <p class="align-self-center h4" style='color: #F5EADD;  font-family: "Dela Gothic One", sans-serif'>Découvre les voyages proposés</p>
  </div>
   <%= render @travels %>
  </div>

<%= render "shared/navbar_search" %>
