.title-searches {
  font-family: "Dela Gothic One", sans-serif;
  font-size: x-large;
  text-align: center;
  color: #1b3232;
  margin: 25px 0px;

}

.container {
  position: relative;
}

input[type="text"], textarea {
  background-color : #f5daba;
  border-radius: 14px;
  border: none;
  margin-top: 27px;
  // color: #1b3232;
}

input[type="number"], textarea {
  background-color : #f5daba;
  border-radius: 14px;
  border: none;
  margin-top: 27px;
  // color: #1b3232;
}

input[type="date"], textarea {
  background-color : #f5daba;
  border-radius: 14px;
  border: none;
  margin-left: 0px !important;  
  // color: #1b3232;
}


.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #1b3232;
  opacity: 1; /* Firefox */
}

.form-group {
  display: flex;
  justify-content: space-between;
}


.form-select {
  background-color: #f5daba;
  color: #1b3232;
}

.option[value=""] {
  color: #1b3232;
}
.btn-search {
  border: none;
  border-radius: 14px;
  padding: 10px;
  background-color: #e7b171;
  display: block;
  margin: auto;
}

.tag-item {
  display: inline-block;
}

.tag-selector {
  position: absolute;
  transform: scale(0);
}

.tag-selector + label {
  cursor: pointer;
  display: inline-block;
  font-size: 0.7rem;
  border-radius: 50rem;
  padding: 0.1rem 0.5rem;
  // background-color: #1b3232;
  color: #1b3232;
  border: 1px solid #1b3232;
  margin-right: 0.6rem;
  margin-bottom: 0.4rem;
}

.tag-selector:checked + label {
  background-color: #1b3232;
  color: #D6A266;
}
