<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<p><%= @user.name %></p>
<p><%= @user.age %></p>
<button type="button" class="btn btn-secondary">Contacter</button>
<h4>Présentation</h4>
<p><%= @user.description %></p>
