<div class="newhome">
  <div class="logo">Flee</div>
  <h1 class="tagline mb-4">trouve des voyageurs dans le monde entier</h1>
  <%= link_to "Trouver des voyageurs", new_search_path, class: "btn btn-secondary rounded-5 w-100" %>
</div>

<div class="laurastyle"></div>
<div class="caroussel-bg pb-5">
  <%= render "shared/card"%>
</div>

<%= render "shared/navbar_search" %>
