<div class="home-img">
  <h1>Flee rassemble des voyageurs du monde entier</h1>
  </br>
  <%= link_to "Trouver des voyageurs", new_search_path, class: "btn btn-secondary rounded-5" %>
</div>

<div class="caroussel-bg">
  <%= render "shared/card"%>
</div>

<%= render "shared/navbar_search" %>
