.profile{
  margin-top: 40px;
  }

.profile h1{
  margin-left: 30px;
  color: $cream;
  font-size: calc(1.375rem + 1.5vw);
  font-weight: 300;
}

.dashboard-items{
  margin-top: 50px;
  color: $cream;
}

.dashboard-item{
border-bottom: 0.1px solid $cream-transparent;
justify-content: space-between;
}

.cream {
  color: $cream;
}

.link{
  text-decoration: none;
  color: $cream;
}
