#favcard {
  position: relative;
  overflow: visible;
}


#favbutton {
  position: absolute;
  top: 20px;
  right: 25px;
  color: $cream;
  font-size: 140%;
  cursor: pointer;
  z-index: 1;
  color: $gold;
}
