.message-row {
  margin-bottom: 10px;
  padding: 8px;
}

// To style the message itself
.sender-style, .receiver-style {
  width: 70%;
  max-width: 400px;
  border-radius: 14px;
  padding: 8px;
  min-height: 80px;
  word-wrap: break-word; 
}

.sender-style {
  background-color: $light-green;
}

.receiver-style {
  background-color: $lighter-green;
}
