.nav-container{
  background: linear-gradient(0deg, rgba(27,50,50,1) 15%, rgba(27,50,50,0.7567401960784313) 49%, rgba(27,50,50,0.4962359943977591) 74%, rgba(27,50,50,0.32816876750700286) 86%, rgba(27,50,50,0) 100%);
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding-inline-start: 1vh;
  padding-inline-end: 1vh;
  padding-top: 4vh;
  padding-bottom: 5vh;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: #D6A266
}

.navbar-icone{
  color: #D6A266;
  text-decoration : none
}

.navbar-selected{
  color: #F5EADD;
  text-decoration : none
}
