.carditem{
  background-color: $light-green;
  border-radius: 15px;
  padding-block: 15px;
  padding-inline-start: 22px;
  padding-inline-end: 36px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: $cream;

  i{
    align-content: center;
  }
}

.carditem-avatar {
  align-self: center;
  width: 47px;
  height: 47px !important;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: $gold 1px solid;
}

.lien{
  text-decoration: none;
}

.backgroundpartial{
  background: linear-gradient(180deg, rgba(36,68,68,1) 62%, rgba(27,50,50,1) 100%);
  padding-top: 25px;
  padding-inline: 15px;
  padding-bottom: 70px;
  border-radius: 14px;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
}

.selectedpartial{
  background-color: $medium-green;
  padding-inline: 25px;
  padding-top: 15px;
  padding-bottom: 5px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  color: $gold;
}

.unselectedpartial{
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  padding-inline: 25px;
  padding-top: 15px;
  padding-bottom: 5px;
}
