.container-show-user {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: $dark-green;
  color: $cream;
  padding: 30px;
  h1 {
    font-size: xx-large;
  }
  background-image: linear-gradient(0deg, rgba(27,50,50,1) 1%, rgba(0,0,0,0.8) 80%), url("background-toto.jpg");
  background-size: cover;
}

.img-show {
  width: 100px;
  height: 100px;
}

.show-user-description {
  align-items: start;
  background-color: $dark-green;
  width: 100vw;
  height: 100vh;
  color: $cream;
  padding: 10px;
  h3 {
    font-weight: bolder;
  }
}

.btn-secondary {
  background-color: $light-green;
  border: $light-green;
}

.btn-candidate {
  background-color: $gold;
  border: $gold;
}

.destination {
  font-family: "Dela Gothic One", sans-serif;
}
