.container-show-user {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: $dark-green;
  color: $cream;
  padding-top: 60px;
  h1 {
  color: $cream;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 160%;
  font-family: "Dela Gothic One", sans-serif;
  }
  background-image: linear-gradient(0deg, rgba(27,50,50,1) 1%, rgba(0,0,0,0.8) 80%), url("background-toto.jpg");
  background-size: cover;
}

.img-show {
  width: 100px;
  height: 100px;
  border: solid 1px $gold;
}

.show-user-description {
  align-items: start;
  background-color: $dark-green;
  width: 100vw;
  height: 100vh;
  color: $cream;
  padding: 10px;
  h3 {
    font-weight: bolder;
  }
}

.btn-secondary {
  background-color: $light-green;
  border: $light-green;
}

.btn-candidate {
  color: $dark-green;
  background-color: $gold;
  border: $gold;
  font-weight: 500;
}

.btn-candidate:hover {
  background-color: $gold;
}

.destination {
  font-family: "Dela Gothic One", sans-serif;
  color: $cream;
}
