.banner {
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  height: 300px;
  width: 80vw;
  position: relative;
  }

.banner h6 {
  margin: 0;
  color: $cream;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 160%;
  font-family: "Dela Gothic One", sans-serif;
  }

.destinationcard{
  font-family: "Dela Gothic One", sans-serif;
  color: $cream;
  font-size: 200%;
}

.soustitre {
  font-family: "Raleway", sans-serif;
  font-size: 80%;
  text-decoration: none;
  color: $cream;
  }

.card-details{
  flex-direction: column;
  }

.greentag {
  font-family: "Raleway", sans-serif;
  font-size: 100%;
  background-color: rgba(27, 50, 50, 0.3);
  backdrop-filter: blur(6px);
  text-decoration: none;
  color: $cream;
  padding: 3px;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
  border-radius: 10px;
  margin-inline-end: 5px;
  margin-bottom: 5px;
  width: fit-content;
block-size: fit-content;
}

.goldtag {
  font-family: "Raleway", sans-serif;
  font-size: 100%;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(3px);
  color: $cream;
  padding: 3px;
  padding-inline-start: 12px;
  padding-inline-end: 12px;
  border-radius: 12px;
  margin-inline-end: 5px;
  margin-bottom: 5px;
  width: fit-content;
  block-size: fit-content;
}

.banner p {
  font-size: 20px;
  color: #F5EADD;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.user-profile{
  position: absolute;
  top: 20px;
  left: 20px;
}


.card-details p {
  background: rgb(230, 237, 230);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin-right: 10px;
  border-radius: 20px;
  color: #497f80;
  padding: 10px;
  align-items: center;
  justify-content: space-evenly;
  align-items: center;
  font-size: small;
 }

 .card-infos{
  position: absolute;
  bottom: 1px;
  left: 20px;
 }

 .text-white {
  font-family: "Dela Gothic One", sans-serif;
 }
